.buttons {
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(31, 31, 217);
  padding: 0 0.5rem;
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
}

.buttons:hover {
  background-color: rgb(12, 14, 162);
}
